<!-- <nz-page-header (nzBack)="onBack()" nzBackIcon nzTitle="Back"> </nz-page-header> -->

<div nz-row [nzGutter]="16">
  <div nz-col class="gutter-row" [nzSpan]="8"></div>
  <div nz-col class="gutter-row" [nzSpan]="8">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
      <input
        type="text"
        nz-input
        (keyup.enter)="inputEnter()"
        [(ngModel)]="searchValue"
        placeholder="search by book name"
      />
    </nz-input-group>
    <ng-template #suffixButton>
      <button
        nz-button
        type="button"
        nzType="primary"
        [disabled]="!searchValue"
        [nzLoading]="loading"
        nzSize="large"
        (click)="applySearch()"
        nzSearch
      >
        Search
      </button>
    </ng-template>
  </div>
</div>
<br />
<br />

<div class="books-container">
  <div *ngFor="let item of bookResults; let i = index">
    <shared-book-card [bookInfo]="item"> </shared-book-card>
  </div>
</div>
