<!-- <nz-page-header (nzBack)="onBack()" nzBackIcon nzTitle="Back"> </nz-page-header> -->

<div nz-row [nzGutter]="16">
  <div nz-col class="gutter-row" [nzSpan]="8"></div>
  <div nz-col class="gutter-row" [nzSpan]="8">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
      <input
        type="text"
        nz-input
        (keyup.enter)="inputEnter()"
        [(ngModel)]="searchValue"
        placeholder="search by book name"
      />
    </nz-input-group>
    <ng-template #suffixButton>
      <button
        nz-button
        type="button"
        nzType="primary"
        [disabled]="!searchValue"
        [nzLoading]="loading"
        nzSize="large"
        (click)="applySearch()"
        nzSearch
      >
        Search
      </button>
    </ng-template>
  </div>
</div>
<br />
<br />

<div class="books-container">
  <div *ngFor="let item of bookResults; let i = index">
    <shared-book-card [bookInfo]="item"> </shared-book-card>
  </div>
</div>
<!-- <div *ngIf="!nodeLocationInfo && !loading" class="connected-img">
  <br />
  <br />
  <br />
  <img src="assets/images/connected-world.svg" />
  <br />
  <br />
  <h2 class="m-t-10">Type any Subscriber ID at the top to find!</h2>
</div>

<div class="empty" *ngIf="nodeLocationInfo?.response == 'not found'">
  <br />
  <br />
  <br />
  <nz-empty
    [nzNotFoundContent]="'No subscriber found! Try a different number'"
  ></nz-empty>
</div>
<div *ngIf="!nodeLocationInfo && loading">
  <br />
  <br />
  <br />
  <nz-skeleton [nzActive]="true"></nz-skeleton>
  <br />

  <nz-skeleton [nzActive]="true"></nz-skeleton>
  <br />
  <nz-skeleton [nzActive]="true"></nz-skeleton>
</div>

<div *ngIf="nodeLocationInfo && !loading" class="data-btns">
  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="24" class="center">
      <h3 class="text-center" nz-title *ngIf="nodeLocationInfo?.name">
        Subscriber found! Connected to
        <span nz-text>
          <mark>
            &nbsp;{{ nodeLocationInfo?.name }} ({{
              nodeLocationInfo?.code
            }})&nbsp;</mark
          ></span
        >
      </h3>

      <br />
      <br />

      <div *ngIf="!ipDetails && servicesLoading">
        <br />
        <br />
        <br />
        <nz-skeleton [nzActive]="true"></nz-skeleton>
        <br />

        <nz-skeleton [nzActive]="true"></nz-skeleton>
        <br />
        <nz-skeleton [nzActive]="true"></nz-skeleton>
      </div>
      <br />

          <div *ngIf="ipDetails">
            <div class="display">
              <nz-row [nzGutter]="16">
                <nz-col [nzSpan]="8">
                  <nz-statistic
                    [nzValue]="nodeLocationInfo?.subscriberId"
                    [nzTitle]="'Subscriber ID'"
                  ></nz-statistic>
                </nz-col>
                <nz-col [nzSpan]="8">
                  <nz-statistic
                    [nzTitle]="'IP Address'"
                    [nzValue]="''"
                    [nzPrefix]="prefixTpl"
                  >
                    <ng-template #prefixTpl>
                      {{ ipDetails?.ip_address }}</ng-template
                    >
                  </nz-statistic>
                </nz-col>
                <nz-col [nzSpan]="8">
                  <nz-statistic
                    [nzValue]="ipDetails?.connection_type"
                    [nzTitle]="'Connection Type'"
                  ></nz-statistic>
                </nz-col>
              </nz-row>
              <br />
              <br />
              <br />
              <nz-row [nzGutter]="16">
                <nz-col [nzSpan]="8">
                  <nz-statistic
                    [nzValue]="ipDetails?.device_os"
                    [nzTitle]="'Device OS'"
                  ></nz-statistic>
                </nz-col>
                <nz-col [nzSpan]="8">
                  <nz-statistic
                    [nzValue]="ipDetails?.device_vendor"
                    [nzTitle]="'Device Vendor'"
                  ></nz-statistic>
                </nz-col>
                <nz-col [nzSpan]="8">
                  <nz-statistic
                    [nzValue]="ipDetails?.services?.length"
                    [nzTitle]="'Number of Services in Use'"
                  ></nz-statistic>
                </nz-col>
              </nz-row>
            </div>
            <br />
            <br />
            <div>
              <h3 nz-title>
                List of Services ({{ realTimeServiceSubscribers?.length }})
              </h3>

              <nz-table #basicTable [nzData]="realTimeServiceSubscribers">
                <thead>
                  <tr>
                    <th>Service</th>
                    <th>In Speed</th>
                    <th>Out Speed</th>
                    <th>Connections</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of realTimeServiceSubscribers">
                    <td>
                      <i
                        *ngIf="data.iconStyle == 'antd'"
                        nz-icon
                        nzType="{{ data.iconType }}"
                        nzTheme="outline"
                      >
                      </i>
                      <fa-icon
                        *ngIf="data.iconStyle == 'fa'"
                        [icon]="['fab', data.iconType]"
                      ></fa-icon>

                      <span>&nbsp; {{ data.title }}</span>
                    </td>
                    <td>
                      <span *ngIf="data.inspd > 1000">
                        {{ data.kbpsin | number: "1.2-2" }} (kbps) &nbsp;
                      </span>
                      <span *ngIf="data.inspd < 1000">
                        {{ data.inspd | number: "1.2-2" }} (bps) &nbsp;
                      </span>
                      {{ data.age }}
                    </td>
                    <td>
                      <span *ngIf="data.outspd > 1000">
                        {{ data.kbpsout | number: "1.2-2" }} (kbps) &nbsp;
                      </span>
                      <span *ngIf="data.outspd < 1000">
                        {{ data.outspd | number: "1.2-2" }} (bps) &nbsp;
                      </span>
                    </td>
                    <td>{{ data.connections }}</td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </div>

    </div>
  </div>
</div>
 -->
