<nz-switch
  [(ngModel)]="listView"
  nzCheckedChildren="List View"
  nzUnCheckedChildren="Grid View"
></nz-switch>

<br />
<br />

<div nz-row [nzGutter]="16" *ngIf="bookResults?.length">
  <div nz-col class="gutter-row" [nzSpan]="24">
    <nz-radio-group
      name="filter"
      [(ngModel)]="selectedType"
      (ngModelChange)="filterChanged($event)"
      nzButtonStyle="solid"
    >
      <!-- [nzStyle]="{ backgroundColor: '#52c41a' }" -->

      <nz-badge [nzCount]="bookResults?.length">
        <label nz-radio-button nzValue="All">All</label>
      </nz-badge>
      <label nz-radio-button nzValue="currently-reading"
        >Currently Reading</label
      >
      <label nz-radio-button nzValue="read">Read</label>
      <label nz-radio-button nzValue="read-it-later">Read It Later</label>
    </nz-radio-group>
  </div>
  <br />
  <br />
  <br />
</div>

<div class="container" *ngIf="listView">
  <div *ngFor="let item of displaybookResults; let i = index">
    <shared-book-card
      [bookInfo]="item"
      [listView]="listView"
      [showRibbon]="true"
    >
    </shared-book-card>
  </div>
</div>
<div class="container" *ngIf="!listView">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">
    <div *ngFor="let item of displaybookResults; let i = index">
      <shared-book-card
        [bookInfo]="item"
        [listView]="listView"
        [showRibbon]="true"
      >
      </shared-book-card>
    </div>
  </div>
</div>

<div *ngIf="loading && !displaybookResults.length">
  <div
    *ngFor="let item of skeletonItems; let i = index"
    class="max-w-sm w-full mt-2 mb-2 lg:max-w-full lg:flex"
  >
    <nz-skeleton [nzActive]="true"></nz-skeleton>
  </div>
</div>

<div
  nz-row
  [nzGutter]="16"
  *ngIf="displaybookResults.length === 0 && bookResults?.length"
>
  <div nz-col class="gutter-row" [nzSpan]="4"></div>
  <div nz-col class="gutter-row" [nzSpan]="16">
    <nz-result
      [nzIcon]="'frown-twotone'"
      [nzTitle]="'You do not have any book in this category!'"
    >
      <!-- <div nz-result-extra>
      <button nz-button nzType="primary">Next</button>
    </div> -->
    </nz-result>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="4"></div>
</div>

<div nz-row [nzGutter]="16" *ngIf="!loading && bookResults.length === 0">
  <div nz-col class="gutter-row" [nzSpan]="4"></div>
  <div nz-col class="gutter-row" [nzSpan]="16">
    <br />
    <br />
    <nz-result
      [nzIcon]="'smile-twotone'"
      [nzTitle]="
        'Welcome to Booky! We are excited to have you here. Lets get started by browsing books from the booky search engine. '
      "
    >
      <div nz-result-extra>
        <button nz-button routerLink="/home/search" nzType="primary">
          Let's Start!
        </button>
      </div>
    </nz-result>
  </div>
  <div nz-col class="gutter-row" [nzSpan]="4"></div>
</div>
