.grid-img {
  width: 250px;
  height: 200px;
}

.book-card {
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);
  border-color: #4cb8ac;
  background-color: #f9ffff;
  cursor: pointer;
  border: 1px solid #d86e5e;
  border-radius: 6px;
  min-height: 300px;
}

.ribbon-parent {
  overflow: hidden;

  position: relative;
}

.ribbon {
  margin: 0;
  padding: 0;
  background: #d86e5e;
  color: white;
  padding: 1px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
}

.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
  top: 0;
  margin: 0 -1px;
  /* tweak */
  width: 100%;
  height: 100%;
  background: #d86e5e;
}

.ribbon:before {
  right: 100%;
}

.ribbon:after {
  left: 100%;
}

.gridview {
  img {

    max-height: 180px;

  }
}
