<div class="bg-white book-card ribbon-parent">
  <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
    add to list
    <i nz-icon nzType="down"></i>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>Read</li>
      <li nz-menu-item>Currently Reading</li>
      <li nz-menu-item>Read It Later</li>
    </ul>
  </nz-dropdown-menu>

  <div class="ribbon">Read</div>

  <div class="md:flex grid-card p-6">
    <img
      class="h-16 w-16 md:h-24 md:w-24 mx-auto md:mx-0 md:mr-6"
      [src]="bookInfo?.best_book?.image_url"
    />
    <div class="text-center md:text-left" style="z-index: 1;">
      <h4 class="text-lg">
        {{ bookInfo?.best_book?.title }}
      </h4>
    </div>
  </div>
  <div class="mx-auto md:mx-0 md:mr-6 pl-6">
    <div class="text-gray-600">
      Rating:
      <nz-rate
        nzDisabled
        [ngModel]="bookInfo?.average_rating"
        nzAllowHalf
      ></nz-rate>
      {{ bookInfo?.average_rating }}
    </div>
    <div class="pt-6">
      <strong>Author: </strong>
      <span class="text-gray-600">
        {{ bookInfo?.best_book?.author?.name }}</span
      >
    </div>
  </div>
</div>
